@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
  box-sizing: border-box;
  --main-font: 'Libre Baskerville', serif;
  --dark-pink: #d19f9c;
  --light-brown: #574240;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  background-image: linear-gradient(
    to bottom,
    #f5f5f5,
    #e7e0e8,
    #dfcad6,
    #dab4bc,
    #d19f9c
  );

  background-attachment: fixed;
}

#root {
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 1fr 10fr;
  height: 100%;
}
